In [4]:
import whyqd as _w
schema = _w.Schema()

details = {
        "name": "human-development-report",
        "title": "UN Human Development Report 2007 - 2008",
        "description": """
        En 1990, le premier rapport sur le développement humain a introduit une nouvelle approche pour
        faire progresser le bien-être de l'homme. Le développement humain - ou l'approche du développement humain - consiste à
        l'élargissement de la richesse de la vie humaine, plutôt que simplement de la richesse de l'économie dans laquelle
        les êtres humains vivent. Il s'agit d'une approche axée sur les personnes, leurs possibilités et leurs choix."""
}
schema = _w.Schema()
schema.set_details(**details)

In [5]:
fields = [
    {
        "name": "Country Name",
        "title": "Country Name",
        "type": "string",
        "description": "Official country names.",
        "constraints": {
            "required": True
        }
    },
    {
        "name": "HDI Category",
        "title": "HDI Category",
        "type": "string",
        "description": "Human Development Index Category derived from the HDI Rank.",
    },
    {
        "name": "Indicator Name",
        "title": "Indicator Name",
        "type": "string",
        "description": "Indicator described in the data series.",
    },
    {
        "name": "Reference",
        "title": "Reference",
        "type": "string",
        "description": "Reference to data source.",
    },
    {
        "name": "Year",
        "title": "Year",
        "type": "year",
        "description": "Year of release.",
    },
    {
        "name": "Values",
        "title": "Values",
        "type": "number",
        "description": "Value for the Year and Indicator Name.",
        "constraints": {
            "required": True
        }
    },
]
for field in fields:
    schema.set_field(**field)

In [6]:
schema.field("country_name")

{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'}

In [7]:
directory = "C:/Users/CHARLENE LINDA/Desktop/"
filename = "human-development-report-schema"
schema.save(directory, filename=filename)

True

In [8]:
### Les importations et paramètres suivants vous permettent d'obtenir un large éventail de résultats pour vos tableaux
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "C:/Users/CHARLENE LINDA/Desktop/human-development-report-schema.json"
DIRECTORY = "C:/Users/CHARLENE LINDA/Desktop/"
INPUT_DATA = ["C:/Users/CHARLENE LINDA/Downloads/HDR 2007-2008 Table 11.xlsx"]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [9]:
print(method.help())

**whyqd** provides data wrangling simplicity, complete audit transparency, and at speed.

To get help, type:

	>>> method.help(option)

Where `option` can be any of:

	status
	merge
	structure
	category
	filter
	transform

`status` will return the current method status, and your mostly likely next steps. The other options
will return methodology, and output of that option's result (if appropriate). The `error` will
present an error trace and attempt to guide you to fix the process problem.

Current method status: `Ready to Merge`

In [10]:
print(method.print_input_data())

Data id: fbe38926-ba04-4930-b100-505185b5e042
Original source: C:/Users/CHARLENE LINDA/Downloads/HDR 2007-2008 Table 11.xlsx

====  ============================================  ============  ============  =========================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0                                      Unnamed: 1    Unnamed: 2  Unnamed: 3                   Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30    Unnamed: 31    Unnamed: 32
====  ============================================  ============  ============  =========================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                                                    nan           nan  … to acquire knowledge ….           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  11  Commitment to education: public spending           nan           nan  nan                                 nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2  nan                                                    nan           nan  nan                                 nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============================================  ============  ============  =========================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [11]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [12]:
method.default_morph_settings("CATEGORISE")

{'name': 'CATEGORISE',
 'title': 'Categorise',
 'type': 'morph',
 'description': 'Convert row-level categories into column categorisations.',
 'structure': ['rows', 'column_names']}

In [13]:
# Utilisez _id, ou une autre variable, puisque `id` est un terme protégé par Python
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,… to acquire knowledge ….,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11 Commitment to education: public spending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Public expenditure on education,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,As a % of GDP,NaN,NaN,NaN,As a % of total government expenditure,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#method.reset_input_data_morph(_id)

In [15]:
method.add_input_data_morph(_id, ["REBASE", 7])

In [16]:
df.tail(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
165,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,156,Senegal,NaN,3.9,NaN,5.4,NaN,26.9,NaN,18.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,157,Eritrea,NaN,..,NaN,5.4,NaN,..,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,158,Nigeria,NaN,0.9,NaN,..,NaN,..,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,159,Tanzania (United Republic of),NaN,2.8,NaN,2.2,"c,e",11.4,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,160,Guinea,NaN,2.0,NaN,2.0,NaN,25.7,NaN,25.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,161,Rwanda,NaN,..,NaN,3.8,NaN,..,NaN,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,162,Angola,NaN,..,NaN,2.6,"c,e",..,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,163,Benin,NaN,..,NaN,3.5,e,..,NaN,14.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,164,Malawi,NaN,3.2,NaN,5.8,NaN,11.1,NaN,24.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,165,Zambia,NaN,2.8,NaN,2.0,NaN,7.1,NaN,14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,166,Côte d'Ivoire,NaN,..,NaN,4.6,"c,e",..,NaN,21.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,167,Burundi,NaN,3.5,NaN,5.1,NaN,17.7,NaN,17.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,168,Congo (Democratic Republic of the),NaN,..,NaN,..,NaN,..,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,169,Ethiopia,NaN,2.4,NaN,6.1,g,9.4,NaN,17.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,170,Chad,NaN,1.6,NaN,2.1,NaN,..,NaN,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,171,Central African Republic,NaN,2.2,NaN,..,NaN,..,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,172,Mozambique,NaN,..,NaN,3.7,NaN,..,NaN,19.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,173,Mali,NaN,..,NaN,4.3,NaN,..,NaN,14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,174,Niger,NaN,3.3,NaN,2.3,NaN,18.6,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,175,Guinea-Bissau,NaN,..,NaN,5.2,c,..,NaN,11.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,176,Burkina Faso,NaN,2.6,NaN,4.7,NaN,..,NaN,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,177,Sierra Leone,NaN,..,NaN,4.6,e,..,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,a. Expenditures by level may not sum to 100 as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,"SOURCES\nColumns 1–4, 7, 9 and 10: UNESCO Inst...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# On obtient la valeur du dernier élément de l'index, puis on ajoute 1 pour créer l'intervalle
rows = [int(i) for i in np.arange(190, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [18]:
columns=[
    "HDI rank",
    "country",
    "PEE _% _GDP_1991",
    "PEE _% _GDP_2002_2005b",
    "Reference 1",
    "PEE _% _TGE_1991 ",
    "Reference 2",
    "PEE _% _TGE_2002_2005b",
    "Reference 3",
    "current_PEE_by_primary_1991",
    "Reference 4",
    "current_PEE_by_primary_2002_2005b",
    "Reference 5",
    "current_PEE_by_secondary_1991",
    "Reference 6",
    "current_PEE_by_secondary_2002_2005b",
    "Reference 7",
    "current_PEE_by_Tertiary_1991",
    "Reference 8",
    "current_PEE_by_Tertiary_2002_2005b",
    "Reference 9"
]
method.add_input_data_morph(_id, ["RENAME",columns])

In [19]:
df = method.input_dataframe(_id)
df.head()

,HDI rank,country,PEE _% _GDP_1991,PEE _% _GDP_2002_2005b,Reference 1,PEE _% _TGE_1991,Reference 2,PEE _% _TGE_2002_2005b,Reference 3,current_PEE_by_primary_1991,...,current_PEE_by_primary_2002_2005b,Reference 5,current_PEE_by_secondary_1991,Reference 6,current_PEE_by_secondary_2002_2005b,Reference 7,current_PEE_by_Tertiary_1991,Reference 8,current_PEE_by_Tertiary_2002_2005b,Reference 9
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,..,8.1,NaN,..,NaN,16.6,NaN,..,...,40,NaN,..,NaN,35,NaN,..,NaN,19,NaN
10,2,Norway,7.1,7.7,NaN,14.6,NaN,16.6,NaN,38,...,28,NaN,27,NaN,35,NaN,16,NaN,33,NaN
11,3,Australia,4.9,4.7,NaN,14.8,NaN,13.3,c,..,...,34,NaN,..,NaN,41,NaN,..,NaN,25,NaN
12,4,Canada,6.5,5.2,NaN,14.2,NaN,12.5,c,..,...,..,NaN,68,NaN,..,NaN,31,NaN,34,e

In [20]:
# Obtenir les indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index
method.add_input_data_morph(_id, ["CATEGORISE", rows, "HDI category"])

ValueError: Task morph `CATEGORISE` has invalid structure `['rows', 'column_names']`.

In [21]:
type(rows)

pandas.core.indexes.numeric.Int64Index

In [22]:
method.add_input_data_morph(_id, ["CATEGORISE", list(rows), "HDI category"])

In [23]:
df = method.input_dataframe(_id)
df.head()

,HDI rank,country,PEE _% _GDP_1991,PEE _% _GDP_2002_2005b,Reference 1,PEE _% _TGE_1991,Reference 2,PEE _% _TGE_2002_2005b,Reference 3,current_PEE_by_primary_1991,...,Reference 5,current_PEE_by_secondary_1991,Reference 6,current_PEE_by_secondary_2002_2005b,Reference 7,current_PEE_by_Tertiary_1991,Reference 8,current_PEE_by_Tertiary_2002_2005b,Reference 9,HDI category
9,1,Iceland,..,8.1,NaN,..,NaN,16.6,NaN,..,...,NaN,..,NaN,35,NaN,..,NaN,19,NaN,HIGH HUMAN DEVELOPMENT
10,2,Norway,7.1,7.7,NaN,14.6,NaN,16.6,NaN,38,...,NaN,27,NaN,35,NaN,16,NaN,33,NaN,HIGH HUMAN DEVELOPMENT
11,3,Australia,4.9,4.7,NaN,14.8,NaN,13.3,c,..,...,NaN,..,NaN,41,NaN,..,NaN,25,NaN,HIGH HUMAN DEVELOPMENT
12,4,Canada,6.5,5.2,NaN,14.2,NaN,12.5,c,..,...,NaN,68,NaN,..,NaN,31,NaN,34,e,HIGH HUMAN DEVELOPMENT
13,5,Ireland,5.0,4.8,NaN,9.7,NaN,14.0,NaN,37,...,NaN,40,NaN,43,NaN,21,NaN,24,NaN,HIGH HUMAN DEVELOPMENT

In [24]:
columns=[
    "HDI rank",
    "PEE _% _GDP_1991",
    "PEE _% _GDP_2002_2005b",
    "PEE _% _TGE_1991 ",
    "PEE _% _TGE_2002_2005b",
    "current_PEE_by_primary_1991",
    "current_PEE_by_primary_2002_2005b",
    "current_PEE_by_secondary_1991",
    "current_PEE_by_secondary_2002_2005b",
    "current_PEE_by_Tertiary_1991",
    "current_PEE_by_Tertiary_2002_2005b",
]
method.add_input_data_morph(_id, ["MELT", columns, ["Indicator Name", "Indicator Value"]])

In [25]:
columns=[
    "Reference 1",
    "Reference 2",
    "Reference 3",
    "Reference 4",
    "Reference 5",
    "Reference 6",
    "Reference 7",
    "Reference 8",
    "Reference 9"
]
method.add_input_data_morph(_id, ["MELT", columns, ["Reference Name", "Reference"]])

In [26]:
method.add_input_data_morph(_id, ["DEBLANK"])

In [27]:
df = method.input_dataframe(_id)
df.head()

,Indicator Value,Indicator Name,HDI category,country,Reference Name,Reference
0,1,HDI rank,HIGH HUMAN DEVELOPMENT,Iceland,Reference 1,NaN
1,2,HDI rank,HIGH HUMAN DEVELOPMENT,Norway,Reference 1,NaN
2,3,HDI rank,HIGH HUMAN DEVELOPMENT,Australia,Reference 1,NaN
3,4,HDI rank,HIGH HUMAN DEVELOPMENT,Canada,Reference 1,NaN
4,5,HDI rank,HIGH HUMAN DEVELOPMENT,Ireland,Reference 1,NaN

In [28]:
print(method.help("merge"))

`merge` will join, in order from right to left, your input data on a common column.

To add input data, where `input_data` is a filename, or list of filenames:

	>>> method.add_input_data(input_data)

To remove input data, where `id` is the unique id for that input data:

	>>> method.remove_input_data(id)

Prepare an `order_and_key` list, where each dict in the list has:

	{{id: input_data id, key: column_name for merge}}

Run the merge by calling (and, optionally - if you need to overwrite an existing merge - setting
`overwrite_working=True`):

	>>> method.merge(order_and_key, overwrite_working=True)

To view your existing `input_data`:

	>>> method.input_data


Data id: fbe38926-ba04-4930-b100-505185b5e042
Original source: C:/Users/CHARLENE LINDA/Downloads/HDR 2007-2008 Table 11.xlsx

====  ============================================  ============  ============  =========================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0                                      Unnamed: 1    Unnamed: 2  Unnamed: 3                   Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30    Unnamed: 31    Unnamed: 32
====  ============================================  ============  ============  =========================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                                                    nan           nan  … to acquire knowledge ….           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  11  Commitment to education: public spending           nan           nan  nan                                 nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2  nan                                                    nan           nan  nan                                 nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============================================  ============  ============  =========================  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============


Current method status: `Ready to Merge`

In [29]:
print(method.help("structure"))

`structure` is the core of the wrangling process and is the process where you define the actions
which must be performed to restructure your working data.

Create a list of methods of the form:

	{
		"schema_field1": ["action", "column_name1", ["action", "column_name2"]],
		"schema_field2": ["action", "column_name1", "modifier", ["action", "column_name2"]],
	}

The format for defining a `structure` is as follows::

	[action, column_name, [action, column_name]]

e.g.::

	["CATEGORISE", "+", ["ORDER", "column_1", "column_2"]]

This permits the creation of quite expressive wrangling structures from simple building
blocks.

The schema for this method consists of the following terms:

['country_name', 'hdi_category', 'indicator_name', 'reference', 'year', 'values']

The actions:

['CALCULATE', 'CATEGORISE', 'JOIN', 'NEW', 'ORDER', 'ORDER_NEW', 'ORDER_OLD', 'RENAME']

The columns from your working data:

[]


Current method status: `Ready to Merge`

In [30]:
structure = {
    "country_name": ["RENAME", "Country"],
    "hdi_category": ["RENAME", "HDI category"],
    "indicator_name": ["RENAME", "Indicator Name"],
    "reference": ["RENAME", "Reference"],
    "values": ["RENAME", "Indicator Value"],
}

In [31]:
method.set_structure(**structure)

PermissionError: Current status: `Ready to Merge` - performing `set_structure` not permitted.

In [32]:
method.transform(overwrite_output=True)
FILENAME = "hdi_report_exercise"
method.save(directory, filename=FILENAME, overwrite=True)

PermissionError: Current status: `Ready to Merge` - performing `transform` is not permitted.

In [33]:
method.input_data_morphs(_id)

[{'838271bc-0558-4c0f-a127-b455cb214c6e': ['DEBLANK']},
 {'0b85cf8f-d12b-4fb9-a667-cd64873a63d4': ['DEDUPE']},
 {'8a607f90-d359-4a0b-a338-94ad1498bd4c': ['REBASE', [7]]},
 {'c388080e-128a-412f-a984-f361c3eb791b': ['DELETE',
   [190, 191, 192, 193, 194]]},
 {'5c6a9a31-7391-4b0a-bda9-ebebe932fdf6': ['RENAME',
   ['HDI rank',
    'country',
    'PEE _% _GDP_1991',
    'PEE _% _GDP_2002_2005b',
    'Reference 1',
    'PEE _% _TGE_1991 ',
    'Reference 2',
    'PEE _% _TGE_2002_2005b',
    'Reference 3',
    'current_PEE_by_primary_1991',
    'Reference 4',
    'current_PEE_by_primary_2002_2005b',
    'Reference 5',
    'current_PEE_by_secondary_1991',
    'Reference 6',
    'current_PEE_by_secondary_2002_2005b',
    'Reference 7',
    'current_PEE_by_Tertiary_1991',
    'Reference 8',
    'current_PEE_by_Tertiary_2002_2005b',
    'Reference 9']]},
 {'cf043453-c24c-41e3-9e9d-9c5e8aa6f353': ['CATEGORISE',
   [8, 79, 165],
   ['HDI category']]},
 {'afaf9d32-3c90-45db-b8c4-953e837360ca': ['MELT',
   [['Reference 1',
     'Reference 7',
     'Reference 2',
     'Reference 6',
     'HDI category',
     'Reference 8',
     'Reference 5',
     'Reference 4',
     'country',
     'Reference 9',
     'Reference 3'],
    ['HDI rank',
     'PEE _% _GDP_1991',
     'PEE _% _GDP_2002_2005b',
     'PEE _% _TGE_1991 ',
     'PEE _% _TGE_2002_2005b',
     'current_PEE_by_primary_1991',
     'current_PEE_by_primary_2002_2005b',
     'current_PEE_by_secondary_1991',
     'current_PEE_by_secondary_2002_2005b',
     'current_PEE_by_Tertiary_1991',
     'current_PEE_by_Tertiary_2002_2005b']],
   ['Indicator Name', 'Indicator Value']]},
 {'318b4bfb-99bc-4aba-9f6e-b217b4277cc0': ['MELT',
   [['Indicator Value', 'Indicator Name', 'HDI category', 'country'],
    ['Reference 1',
     'Reference 2',
     'Reference 3',
     'Reference 4',
     'Reference 5',
     'Reference 6',
     'Reference 7',
     'Reference 8',
     'Reference 9']],
   ['Reference Name', 'Reference']]},
 {'95ad5939-556b-411a-97bd-5d3a318a7e9a': ['DEBLANK']}]

In [34]:
%time method.validates

KeyError: 'working_data'

In [39]:
import pandas as pd
import numpy as np

source = "C:/Users/CHARLENE LINDA/Desktop/education_public_spending_per_level_of_HDI.csv"

df = pd.read_csv(source)
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 1: invalid continuation byte

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17523 entries, 0 to 17522
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Indicator Value  17523 non-null  object
 1   Indicator Name   17523 non-null  object
 2   HDI category     16731 non-null  object
 3   country          17523 non-null  object
 4   Reference Name   17523 non-null  object
 5   Reference        2134 non-null   object
dtypes: object(6)
memory usage: 958.3+ KB

In [37]:
from pandas_schema import Column, Schema
from pandas_schema.validation import LeadingWhitespaceValidation, TrailingWhitespaceValidation, IsDtypeValidation, InListValidation

# Nous ne testerons que ces colonnes
columns = ["country_name", "hdi_category", "values"]
# Et ces catégories
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]

schema = Schema([
    Column("country_name", [LeadingWhitespaceValidation(), TrailingWhitespaceValidation()]),
    Column("hdi_category", [InListValidation(hdi_categories)]),
    Column("values", [IsDtypeValidation(np.dtype(float)), IsDtypeValidation(np.dtype(int))])
])

errors = schema.validate(df[columns])

print(F"Nombre d'erreurs :  {len(errors)}")
# Juste les 10 premiers
for error in errors[:10]:
    print(error)

KeyError: "None of [Index(['country_name', 'hdi_category', 'values'], dtype='object')] are in the [columns]"

In [38]:
for l in method.citation.split(","):
    print(l)

KeyError: 'working_data'